# Created by http://gitignore.io

### Spring Tool Suite ###
.springBeans

### Eclipse ###
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

### JAXB2 ###
sun-jaxb.episode

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

### Linux ###
!.gitignore
!.git*
*~

### Java ###
target/*
/bin
/target
